[Unit]
Description=NSD DNS Server
Documentation=man:nsd(8)
After=network.target

[Service]
Type=notify
ExecStart=/usr/local/sbin/nsd -d
ExecReload=+/bin/kill -HUP $MAINPID
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
